<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>This is the home page 1 + 2</h1>
    <h3> <%= 1 * 9 %></h3>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur dolore dolorum ex odio veniam, placeat, libero cupiditate beatae nostrum ad quibusdam hic doloribus quo repudiandae ipsa! Quibusdam ipsum rem eligendi!</p>
    <button>Click me!</button>


</body>
</html>